body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: 450px;
    background: url(../img/asus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menu {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        height: 100%;
        width: 24%;
        //flex: 1;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        transition: clip-path 1s;
        clip-path: circle(50%);
        //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        cursor: pointer;

        &:hover {
           //clip-path: polygon(0 0, 35% 0, 50% 35%, 65% 0, 100% 0, 100% 100%, 0 100%);
           clip-path: circle(74%);
        }
    }

 }

.flipcard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    perspective: 500px;

    .card{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.3rem;
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        transition: .4s ease-in;
    }

    &:hover .front{
        transform: rotateY(-180deg);
    }
    &:hover .back{
        transform: rotateY(0);
    }
}


.front {
    background-color: rgb(46, 189, 129);
}
.back {
    background-color: rgb(255, 109, 51); 
    transform: rotateY(180deg);
}